<div class="back-ground">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="window">
                    <div class="overlay"></div>
                    <div class="box header">
                        <% if @user.picture? %>
                            <%= image_tag @user.picture.url %>
                        <% else %>
                            <img src="https://goo.gl/DM5s4f" alt="" />
                        <% end %>
                        <h2><%= @user.name%></h2>
                        <h4><%= @user.email %></h4>
                    </div>
                    <div class="box footer">
                        <ul>
                            <li><a href=""><span class="ion-ios-camera-outline"></span> 401</a></li>
                            <li><a href=""><span class="ion-ios-heart-outline"></span> 333K</a></li>
                            <li><a href=""><span class="ion-ios-person-outline"></span> 225M</a></li>
                        </ul>
                            <% if @user != current_user %>
                                <% unless current_user.following?(@user) %>
                                    <%= button_to "Follow", @user.active_relationships.new, params: {followed_id: @user.id}, class: "btn" %>
                                <% else %>
                                    <%= button_to "Unfollow", current_user.active_relationships.find_by(followed_id: @user.id), class: "btn", method: :delete %>
                                <% end %>
                            <% end %>
                        <a href="" class="btn">Following</a>
                        <a href="" class="btn">Followers</a>
                        <%= link_to "admin", admin_page_admin_static_page_path(@user),class: "btn"%> 
                    </div>
                </div>
                <a><%= link_to "Users",users_path,class: "btn"%></a>
            </div>
            <div class="col-8 margin-top">
                <div class="card">
                    <div class="card-header">Activivities</div>
                    <div class="card-body">
                        <div class="container paginate text-centaer">
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>