<div class="back-ground">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="window">
                    <div class="overlay"></div>
                    <div class="box header">
                        <% if @user.picture? %>
                            <%= image_tag @user.picture.url %>
                        <% else %>
                            <img src="https://goo.gl/DM5s4f" alt="" />
                        <% end %>
                        <h2><%= @user.name%></h2>
                        <h4><%= @user.email %></h4>
                    </div>
                    <div class="box footer p-3">
                        <% if @user != current_user %>
                            <% unless current_user.following?(@user) %>
                                <%= button_to "Follow", @user.active_relationships.new, params: {followed_id: @user.id}, class: "btn" %>
                            <% else %>
                                <%= button_to "Unfollow", current_user.active_relationships.find_by(followed_id: @user.id), class: "btn", method: :delete %>
                            <% end %>
                        <% end %>
                        <%= link_to "Following", following_user_path(@user) %>
                        <%= link_to "Followers", followers_user_path(@user) %>
                        <%= link_to "admin", admin_page_admin_static_page_path(@user),class: "btn"%> 
                    </div>
                </div>
                <a><%= link_to "Users",users_path,class: "btn"%></a>
            </div>
            <div class="col-8 margin-top list-group">
                <div class="card">
                    <div class="card-header">Activivities</div>
                        <div class="text-black">
                            <% if @activities.any? %>
                                <% @activities.each do |activity| %>
                                    <div class="p-3" >
                                        <% user = (activity.user == current_user ? "You" : activity.user.name) %>
                                        <% if activity.action_type == "Relationship" %>
                                            <div class="d-inline-block float-left pr-4">
                                                <% if activity.user.picture? %>
                                                    <%= image_tag activity.user.picture.url, class: "img-size rounded-circle" %>
                                                <% else %>
                                                    <%= image_tag "https://goo.gl/DM5s4f", class: "img-size rounded-circle" %>
                                                <% end %>
                                            </div>
                                            <p><%= user %> followed <%= link_to activity.action.followed.name, activity.action.followed, class: "badge badge-pill badge-primary" %></p>
                                        <% else %>
                                            <div class="d-inline-block float-left pr-4">
                                                <% if activity.user.picture? %>
                                                    <%= image_tag activity.user.picture.url, class: "img-size rounded-circle" %>
                                                <% else %>
                                                    <%= image_tag "https://goo.gl/DM5s4f", class: "img-size rounded-circle" %>
                                                <% end %>
                                            </div>
                                            <p><%= user %> larned <%= activity.action.correct_answers %> of <%= activity.action.answers.count %> in <%= link_to activity.action.category.title, activity.action, class: "badge badge-pill badge-info" %></p>
                                        <% end %>
                                        <small class="text-muted" ><%= time_ago_in_words(activity.created_at) %> ago</small>
                                    </div>
                                <% end %>
                            <% else %>
                                <p class= "text-center">No Activity</p>
                            <% end %>
                        </div>
                        <div class="conteiner paginate text-center">
                            <%= will_paginate @activities %>
                        </div>
                </div>
            </div>   
        </div>
    </div>
</div>