<div class="bg-image"></div>


    <div class="bg-text">
        <h1 class="text-center">AdministerCategories</h1>
        <%= link_to "New Categories", new_admin_category_path, class: "btn"%>       
        <div class="border-top p-3"></div>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Settings</th>
                    </tr>
                </thead>
                <tbody>
                    <% @categories.each do |category| %>
                        <tr>
                            <td scope="row"><%= link_to category.title,admin_category_words_path(category)%></td>
                            <td><%= category.description%></td>
                            <td scope="row"><%= link_to "edit",edit_admin_category_path(category)%> / delete</td> 
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="paginate text-center border-top pt3">
                <%= will_paginate%>
            </div>
    </div>
</div>


